# Windows:
Thumbs.db
Desktop.ini
nbproject
.brackets.json
npm-debug.log

#os x
._.DS_Store
.DS_Store
.com.apple.timemachine.supported

#tags
.tags
.tags_sorted_by_file

#js
/node_modules
/js/bower_components/
/js/components/
/js/maps/
/js/activity/
/js/cart/
/js/comment/
/js/dict/
/js/label/
/js/react/
/js/dest/
/js/src/test/
